:root {
  --qd-purple: #c530c5;
  --qd-green: #21d35d;
}

.app {
  text-align: center;
  /* background-image: linear-gradient(#FFFFFF, #b8b8b8); */
  /* background-image: url("lib/caldwell.jpg"); */
  background-image: url("lib/Caldwell_downtown1_(1_of_1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  font-family: "Times New Roman";
  font-size: 1.1em;
}

.canvasjs-chart-canvas {
  margin-left: 25%;
}

.slide {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3%;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: thin;
}

.text-carousel {
  margin-top: 15%;
}

.current-month-label {
  font-size: 2em;
}

.current-month-number {
  font-size: 2em;
  color: blue;
}

.dollar-num {
  font-size: 2em;
  color: green;
}

.bg-purp {
  background-color: var(--qd-purple);
}

.page-title {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--qd-green);
  text-shadow: 2px 2px 8px #cfcfcf;
}

.btn {
  background-color: var(--qd-green);
  border-radius: 8px;
}
